body {
    margin: 0;
}

.remember-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.remember-me input {
    margin: 0;
    padding: 0;
}

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: calc(100vh - 200px);
    width: 100%;
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container h2 {
    font-size: 2rem;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 0.85rem;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 10px;*/
}

.login__container--remember-me a {
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 0.85rem;
}

.login__container--register a {
    font-size: 1rem;
    color: aliceblue;
    font-weight: bolder;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

input {
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid aliceblue;
    margin: 20px;
    padding: 0 20px;
    outline: none;
    height: 50px;
    color: aliceblue;
}

::placeholder {
    color: aliceblue;
    font-family: var(--font-family);
    font-weight: bolder;
    font-size: 1rem;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: aliceblue;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    height: 60px;
    letter-spacing: 1px;
    margin: 10px 0;
    transition: all 450ms;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 450ms;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: aliceblue;
    cursor: pointer;
    font-size: 0.85rem;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}